<h1>Name: <%= @user.name %></h1>

<h2>Reservations</h2>
<% @reservations.each do |r|  %>
	<p>Day: <%= r.date %></p>
	<p>Slot: <%= r.slot %></p>
	<p>Restaurant: <%= Restaurant.find(r.restaurant_id).name %></p>
<% end %>
